//== Variables
$off-white: #F5F6F9
$brand-color: #69A508
$gray: #d9deda
$orange: #ca7f26

//== Global
body
  font-family: 'Maven Pro', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

//== importing Styles from Components
@import "./Header/style"
@import "./ResultsPage/style"
// @import "./ResultsTable/style"